name: Deploy Node.js App to VPS

on:
  push:
    branches:
      - main  # Trigger the workflow on push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22.x'

    - name: Install Dependencies
      run: npm install

    - name: Build Project
      run: npm run build # Use if you have a build step, otherwise you can remove this

    - name: Deploy to VPS via SSH
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: "103.79.140.76"
        username: "phamquan"
        password: "1311"
        port: 22
        script: |
          cd /home/phamquan/testcicd
          git pull origin main
          npm install
          pm2 start server.js # Use this if you're using pm2 to manage your process
